.site-footer {
  background: #020617;
  color: #94a3b8;
  padding: 40px 20px;
  
    font-size: 14px;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 30px;
}

.site-footer a {
  color: #94a3b8;
  text-decoration: none;
  display: block;
  margin: 6px 0;
}

.site-footer a:hover {
  color: orange;
}

.site-footer h3,
.site-footer h4 {
  color: white;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}

.GK {
  color: orange;
}
.carro {
  font-size: 12px;
  background-color: orange;
}