.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  z-index: 1000;
  font-size: 30px;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

.logo-box {
  background: orange;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text strong {
  color: orange;
}

.nav-desktop a {
  margin: 0 10px;
  color: #cbd5f5;
  text-decoration: none;
}

.nav-desktop a:hover {
  color: white;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-admin {
  background: orange;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
}

/* MOBILE */
.mobile-menu {
  display: none;
  flex-direction: column;
  background: #020617;
  font-size: 100px;
}

.mobile-menu a {
  padding: 12px;
  color: white;
  text-decoration: none;
  border-top: 1px solid #1e293b;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
